.App {
  text-align: center;
}

.App-header {
  background-image: url('https://w0.peakpx.com/wallpaper/812/886/HD-wallpaper-nice-weather-beauty-blue-clouds-nature-sky.jpg');
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='text'] {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px 16px;
  background-color: #055dcf;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f17126;
}

.error {
  color: red;
}

.weather-info {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  border: 2px solid rgb(71, 140, 219);
  border-radius: 6%;
  padding: 1% 3%;
  box-shadow: 0 2px 20px 0 whitesmoke;
  color: rgb(2, 79, 167);
}
